<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cesi.datalogscheduler.mapper.BackupInfoMapper">
    <sql id="backup_info_table">
        cesi.backup_info
    </sql>

    <select id="findAll" resultType="com.cesi.datalogscheduler.entity.BackupInfo">
        SELECT *, INET_NTOA(HOST_INT) as HOST
        FROM <include refid="backup_info_table"/>
    </select>

    <insert id="insert" keyColumn="id" useGeneratedKeys="true" parameterType="com.cesi.datalogscheduler.entity.BackupInfo">
        INSERT INTO <include refid="backup_info_table"/>(HOST_INT, PORT, USERNAME, PASSWORD, PREFIX_BACKUP_PATH, `SYSTEM`, SYNC, COMPRESSION_LEVEL)
        <foreach collection="list" item="item" separator="),(" open="VALUES (" close=")" nullable="true">
            <if test="item != null and item.host != null and item.port != null and item.username != null and item.password != null and item.prefixBackupPath != null and item.system != null and item.sync != null">
                INET_ATON(#{item.host}), #{item.port}, #{item.username}, #{item.password}, #{item.prefixBackupPath}, #{item.system}, #{item.sync}, #{item.compressionLevel}
            </if>
        </foreach>
    </insert>

    <delete id="delete" parameterType="com.cesi.datalogscheduler.entity.BackupInfo">
        DELETE FROM <include refid="backup_info_table"/>
        WHERE ID IN
        <if test="list != null and list.size() != 0">
            <foreach collection="list" item="item" separator="," open="(" close=")" nullable="true">
                <if test="item != null and item.id != null">
                    #{item.id}
                </if>
            </foreach>
        </if>
    </delete>

    <update id="update" keyColumn="id" useGeneratedKeys="true" parameterType="com.cesi.datalogscheduler.entity.BackupInfo">
        <foreach collection="list" item="item" separator=";" close=";" nullable="true">
            <if test="item != null and item.id != null">
                UPDATE <include refid="backup_info_table"/>
                <set>
                    <if test="item.host != null and item.host != ''">
                        HOST_INT=INET_ATON(#{item.host}),
                    </if>
                    <if test="item.port != null">
                        PORT=#{item.port},
                    </if>
                    <if test="item.username != null and item.username != ''">
                        USERNAME=#{item.username},
                    </if>
                    <if test="item.password != null and item.password != ''">
                        PASSWORD=#{item.password},
                    </if>
                    <if test="item.prefixBackupPath != null and item.prefixBackupPath != ''">
                        PREFIX_BACKUP_PATH=#{item.prefixBackupPath},
                    </if>
                    <if test="item.system != null and item.system != ''">
                        `SYSTEM`=#{item.system},
                    </if>
                    <if test="item.sync != null">
                        SYNC=#{item.sync},
                    </if>
                    <if test="item.compressionLevel != null">
                        COMPRESSION_LEVEL=#{item.compressionLevel},
                    </if>
                </set>
                <where>
                    <if test="item.id != null">
                        ID=#{item.id}
                    </if>
                </where>
            </if>
        </foreach>
    </update>
</mapper>